.container {
    max-width: 720px;
    margin: 20px auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h1 {
        color: var(--white)
    }
}

.containerSection {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 24px;
    gap: 14px;
    width: 90%;
    
    button {
        background-color: transparent;
        border: 0;
        transition: all 2s;
        color: var(--green-900);


        &:hover{
            transform: scale(1.2) 
        }

    }

}



.table {
    
    table {
        width: 100%;
    }
}

.tableHeader {
    width: 100%;
}


.tableColumn {
    height: 40px;
    border-radius: 8px 8px 0 0;
    color: var(--white);
    background-color: #414154;    
}

.tableRow {
    background-color: var(--dark-900);
    color: var(--white);

    span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.buttonRemoveItem {
    width: 100%;
}

.buttonPressed {
    animation: flip 3s infinite;
    color: var(--red-900);
}

.productSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px; 
    
    div {
        border-radius: 8px;
    }
}


.item {

    button {
        border: 0;
        background-color: transparent;

        &:hover {
            filter: brightness(1.4);
            transform: scale(1.2);
        }
    }
}

.noProduct {
    color: var(--white);
    background-color: var(--dark-900);
    padding: 16px;
    border-radius: 8px;
}

.preview {
    object-fit: fill;
    position: relative !important;
    border-radius: 5%;
    height: 100px !important;
}

.createProduct {
    height: 40px;
    width: 100%;
    border-radius: 8px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--green-900);
    color: var(--dark-900);
    transition: all 0.5s;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
 
    &:hover {
        transform: scale(1.05);
        background-color: var(--green-900);
        color: var(--dark-700);
    }
}

@keyframes flip {

    0% {
        transform: rotate(0deg);
        color: var(--red-900);
    }

    100% {
        color: var(--green-900);
        transition: all 0.5s ease;
        transform: rotate(360deg);

    }
}