.container {
    max-width: 720px;
    margin: 20px auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;

    h1 {
        color: var(--white);
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    gap: 16px;
    width: 90%;
}

.input {
    border: 0;
    height: 40px;
    background-color: var(--dark-900);
    border: 1px solid var(--gray-100);
    padding: 0 8px;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;

    &:hover {
        border: 1px solid var(--green-900);
    }
}